version: 2

jobs:
  build:
    docker:
      - image: circleci/php:7.2-node-browsers
    working_directory: ~/repo
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "composer.json" }}
            - v1-dependencies-

      - run: composer install --no-interaction --prefer-dist --dev

      - save_cache:
          key: v1-dependencies-{{ checksum "composer.json" }}
          paths:
            - ~/.composer

      - run: composer build
      - run: composer publish

workflows:
  version: 2
  build_and_publish:
    jobs:
      - build:
          filters:
            branches:
              only: master
  schedule_workflow:
    triggers:
      - schedule:
          cron: "0 * * * *"
          filters:
            branches:
              only:
              - master
    jobs:
    - build
